# OS
.DS_Store
Thumbs.db

# Node
node_modules
.next
out
npm-debug.log*

# Java / Maven
**/target/
*.class
*.jar

# Python
__pycache__/
*.py[cod]
venv/
.venv/

# IDE
.vscode/
.idea/

# Env
.env
.env.*

# Docker
*.local

# Logs
*.log
